@import '~prismjs/themes/prism-dark.css';

.quiz__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.border {
  border: 2px solid var(--primary-color);
}

.quiz__options {
  display: flex;
  flex-direction: column;
}

.quiz__option {
  margin-bottom: 15px;
  background: transparent;
  color: var(--accent-color);
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  padding: 15px 20px;
}

.quiz__code {
  padding: 30px 20px;
}

.quiz__title {
  padding: 20px;
  font-size: 25px;
}

.quiz__logo {
  font-size: 20px;
  font-weight: bold;
}

.quiz__navigation {
  display: flex;
  align-items: center;

  .button {
    margin-left: 40px;
  }
}

.quiz__progress {
  font-size: 30px;
}

.quiz__option_correct {
  background-color: var(--primary-color);
}

.quiz__option_incorrect {
  background-color: var(--error-color);
  border-color: var(--error-color);
}

.quiz__options-container {
  position: relative;
}
