<div *ngIf="quiz">
  <div class="quiz__finish" *ngIf="isQuizFinished">
    <h1>finish</h1>
    <div class="quiz__score">{{score}} of {{quizzesLength}}</div>
    <button (click)="start()">start again</button>
  </div>
  <div class="quiz__body" *ngIf="!isQuizFinished">
    <div class="quiz__header">
      <div class="quiz__logo">
        JSQUIZ
      </div>
        <div class="quiz__progress">
          {{currentQuizNumber}} / {{quizzesLength}}
        </div>
      <div class="quiz__navigation">
        <button class="button" (click)="nextQuiz()" *ngIf="selectedOption && currentQuizNumber < quizzesLength"> > </button>
        <button class="button" (click)="finish()" *ngIf="selectedOption && quizzesLength === currentQuizNumber">finish</button>
      </div>
    </div>
    <h1 class="quiz__title border">{{quiz.question}}</h1>
    <div class="quiz__code">
      <pre><code [innerHTML]="code" class="language-javascript"></code></pre>
    </div>
    <div class="quiz__options">
      <button class="quiz__option border" *ngFor="let option of quiz.options"
              [disabled]="selectedOption"
              [class.quiz__option_correct]="selectedOption === option && option.correct"
              [class.quiz__option_incorrect]="selectedOption === option && !option.correct"
              (click)="selectOption(option)">
        >
        {{option.value}}
      </button>
    </div>
  </div>
</div>
